parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
    classesAllowedToBeExtended:
        - Exception
        - DomainException
        - LogicException
        - InvalidArgumentException
        - RuntimeException
